@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject CartState CartState
@inject ProductService ProductService

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link" >Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login" onclick="@ClearCart()">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code{
    private async Task ClearCart()
    {
        var basket = CartState.selectedProducts.ToList();
        foreach(var basketproduct in basket)
        {
            await ProductService.SaveProductFormBasketOnClose(basketproduct.Product);
        }
        await CartState.ClearCart();
        await ProtectedLocalStorage.DeleteAsync("productsInCart");
        await ProtectedLocalStorage.DeleteAsync("totalPrice");

    }
}