@using HakimLivs.Models
@using HakimLivs.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>Hakim Livs</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
        </div>*@

    <main>

        <div class="d-flex justify-content-between align-items-center border-bottom">
            <div class="p-2">

                <NavLink class="nav-link" href="/"><img src="./Images/hakimlivs-logo.png" class=" oi-align-left" width="200" @onclick="NavigateToIndex" /></NavLink>


            </div>
            <div class="d-flex gap-3 p-2 align-items-center">

                <AuthorizeView Roles="Administrators">
                    <Authorized>
                                        <NavLink class="nav-link" href="/admin">Admin</NavLink>

                    </Authorized>
                </AuthorizeView>
                <ShoppingCart></ShoppingCart>
                <LoginDisplay />
            </div>

        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@{
    void NavigateToIndex()
    {
        NavigationManager.NavigateTo("/", true);
    }

}